
form{
    background-color: rgb(226, 174, 140);
    margin: auto;
    margin-top: 6%;
    width: 65%;
    border:3px rgb(0, 0, 0) solid;
}
body{

    text-align: center;
}
table, td{
    margin-top: 15%;
    border: 3px solid #000000;
    border-collapse: collapse;
    margin-bottom: 15%;
   
}

.tachado{

    text-decoration-line: line-through;

}