


<h1>SUSPENSOS</h1>
<ul>
<li *ngFor="let alumno of alumnos;
let i=index; let par=odd; let impar=even;"
[ngClass]="{azul:par, verde:impar}">
{{i+1}} - {{alumno}}





</li>


</ul>


<button *ngIf="alumnos.length>0" (click)=eliminarUltimo()>ELIMINAR ÚLTIMO</button>


<h1 *ngIf="aprobados.length>0">Aprobados</h1>

<ul>
    <li *ngFor="let alumno of aprobados;
let i=index; let par=odd; let impar=even;"
[ngClass]="{azul:par, verde:impar}">
{{i+1}} - {{alumno}}

</li>


</ul>

<button *ngIf="aprobados.length>0" (click)=addUltimo()>Aprobar al ultimo</button>
